body {
  background-color: black;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}


.navbar{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  gap: 10px;
}

.navbar div{
  background-color: #383836;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.Logo1{
  grid-row: span 2;
}

.navbar {
grid-column: span 4;
}

.navbarlinks {
grid-column: span 4;
}

.NBAlogo {
grid-row: span 2;
}

.searchbar {
grid-column: span 4;
}

.TEXT {
grid-column: span 3;
}

.lefttexts {
grid-column: span 1;
}

.bigimage {
grid-column: span 1;
}

.righttexts{
  grid-column: span 1;
}

.Bam {
grid-column: span 1;
grid-row: span 3;
}

.Bam img {
  width:auto;
  height:500px;
}

.JT {
grid-column: span 1;
}

.SGA {
grid-column: span 1;
}

.news {
grid-column: span 1;
}

.news2 {
grid-column: span 1;
grid-row: span 3;
}

.DENVSOKC {
grid-row: span 2;
}

.DENVSOKC img{
  width: auto;
  height: 550px;
}

.lukadoncic img{
  width:auto;
  height: 300px;
}

.mySlides img{
  height: auto;
  width: 80px;
}

.mySlides {
  display: grid;
}

.date-bar {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.prev, .next {
  font-size: 30px;
  cursor: pointer;
}