.Logo1{
  grid-row: span 2;
}

.navbar {
grid-column: span 4;
}

.NBAlogo {
grid-row: span 2;
}

.searchbar {
grid-column: span 4;
}

.TEXT {
grid-column: span 3;
}

.lefttexts {
grid-column: span 1;
}

.bigimage {
grid-column: span 1;
}

.righttexts{
  grid-column: span 1;
}

.body {
  background-color:black;
}

.Bam {
grid-column: span 1;
}

.JT {
grid-column: span 1;
}

.SGA {
grid-column: span 1;
}

.news {
grid-column: span 1;
}