body {
  background-color: black;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
}

.Logo1{
  grid-row: span 2;
}

.navbar {
grid-column: span 4;
}

.navbarlinks {
grid-column: span 4;
}

.NBAlogo {
grid-row: span 2;
}

.searchbar {
grid-column: span 4;
}

.TEXT {
grid-column: span 3;
}

.lefttexts {
grid-column: span 1;
}

.bigimage {
grid-column: span 1;
}

.righttexts{
  grid-column: span 1;
}

.Bam {
grid-column: span 1;
grid-row: span 3;
}

.JT {
grid-column: span 1;
}

.SGA {
grid-column: span 1;
}

.news {
grid-column: span 1;
}

.news2 {
grid-column: span 1;
grid-row: span 3;
}

.DENVSOKC {
grid-row: span 2;
}

.videos img {
  width: auto;
  height: 300px;
}